# Visual Studio directory
src/.vs

# Object files can be generated during the build
src/*.obj

# These are main build artifacts, we don't need to include them lol
src/Irvine32.lib
Irvine32-Plus-Plus.zip

# Residue from test builds. Left on disk for sake of debugging.
TestFile.exe
TestFile.obj
